.registerform {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5rem auto;
}

.passwords {
    display: flex
}

@media screen and (max-width: 650px) {
    .registerform {
        width: 90%;
    }
}