header {
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
}

.everyannouncement {
    background-color: whitesmoke;
    padding: 1rem 1rem 4rem 1rem;
    margin: 0.5rem 5rem;
    border-radius: 10px;
}

.createann {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.loading {
    display: flex;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 650px) {

    .everyannouncement {
        margin: 0.5rem 2rem;
    }

}


@media screen and (max-width: 550px) {

    .everyannouncement {
        margin: 0.5rem 1rem;
    }

    header h1 {
        font-size: 6vw;
    }

    header p {
        font-size: 4vw;
    }

    .everyannouncement h1 {
        font-size: 6vw;
    }

    .everyannouncement p {
        font-size: 4vw;
    }

}