.edituserform {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.editname, .editpassword {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    flex-direction: column;
    width: 50%;
}

.canceledituser {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.editroleform {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: 1rem auto;
}