.tickets {
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: whitesmoke;
}

.oneticket {
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: whitesmoke;
}